@font-face {
  font-family: Fancy;
  src: url('./fonts/Fancy.ttf');
}

* {
  color: white;
  box-sizing: border-box;
}
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}
///HEADERITEMS
.app-header {
  background: url('images/wood.jpg') no-repeat;
  font-family: Fancy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13em;
  background-color: black;
  width: 100%;
  margin-bottom: -1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.75em;
  @media (max-width: 1024px) {
    height: 10em;
  }

  .Logo {
    font-family: Fancy;

    h1 {
      font-family: Fancy;
      color: white;
      text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px #996515;
    }
  }
  .profile {
    border: black solid 5px;
    border-radius: 150px;
    height: 10em;
    width: 10em;
    @media (max-width: 414px) {
      height: 5em;
      width: 5em;
    }
  }
}

//Footer designs
.app-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start space-between;
  height: 100px;
  background-color: black;
  width: 100%;
  margin-top: 50%;
  color: white;
  align-content: stretch;
  font-weight: bolder;
  @media (max-width: 414px) {
    margin-top: 203%;
  }
  @media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
    margin-top: 128%;
  }
  @media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
    margin-top: 71%;
  }

  .footer {
    margin-right: 5px;
    margin-left: 15px;
    a:link {
      text-decoration: none;
    }
    a:hover {
      color: lightslate;
      cursor: crosshair;
    }
    justify-content: flex-start;
    color: inherit;
  }
  .leftsidefooter {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 22em;
    margin-left: 15px;

    .buildtype {
      align-self: flex-end;
      font-weight: lighter;
      font-size: 10px;
    }
  }
}

//Main
.Hero {
  position: absolute;
  font-family: Fancy;
  background: url('images/herobanner.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-left: -10px;
  padding-left: -10px;
  width: 100%;
  height: 580px;
  margin: 1px;
  @media (max-width: 414px) {
    height: 35em;
  }

  h1 {
    text-align: center;
    padding-top: 260px;
    padding-bottom: 260px;
    margin: 50px;
    color: black;
    text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px #996515;
  }
}

.Hero2 {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 2px solid black;
  font-family: Fancy;
  background-size: cover;
  margin-top: 825px;
  width: 100%;
  height: 500px;
  color: black;
  text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px #996515;
}

hero4 {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 2px solid black;
  font-family: Fancy;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: black;
  text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px #996515;
}

.bio {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  position: absolute;
  background: none center center fixed;
  margin-top: 600px;
  margin-bottom: 25px;
  width: 100%;
  height: auto;
  color: white;

  .bioflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    .bioheader {
      display: flex;
      justify-content: center;
      h1 {
        font-family: Fancy;
        display: flex;
        justify-content: center;
        color: black;
        height: 25px;
      }
      @media (max-width: 425px) {
        margin-bottom: 35px;
      }
    }
    .biocontent {
      display: flex;
      justify-content: center;
      text-align: center;
      p {
        color: black;
        height: 25px;
      }
    }
  }
}

.bio2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;

  h1 {
    font-family: Fancy;
    display: flex;
    justify-content: center;
    color: black;
    text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px b#996515;
    height: 25px;
  }

  p {
    color: black;
  }
}
//Projects

.links {
  justify-content: center;
  padding-top: 825px;
  @media (max-width: 1366px) {
    overflow: scroll;
  }
  @media (max-width: 414px) {
    padding-top: 950px;
  }
}

.ContactInfo {
  background: grey;
  font-family: Fancy;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  width: 100%;
  height: 500px;
  border: 1px solid black;
  .contact {
    background-color: black;
    justify-content: center;
    border: 1px solid black;
    color: black;
    h1 {
      border: 1px solid white;
      color: white;
    }
  }
}

.profilelinks {
  border: 1px solid black;
  display: flex;
  min-height: 25vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 1px;
  width: 100vw;

  .projects {
    display: flex;
    align-self: row;
    color: black;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    width: 95px;
    font-family: Fancy;
    text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px b#996515;

    h1 {
      text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px b#996515;
      background-color: black;
      font-family: Fancy;
      height: 10%;
      border: 5px solid white;
      border-radius: 10px;
      color: white;
      padding-top: 7px;
      padding-left: 7px;
      padding-right: 10px;
      z-index: 1;
    }
  }
}
.projectprofiles {
  display: flex;
  flex: stretch;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 1px;
  // min-width: 125vh;
  width: 100%;
  @media (min-width: 1375px) {
    min-width: 125vh;
  }

  .webProjects {
    background-size: cover;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 20px;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.proj1 {
  background-image: url('images/projects/FirstPage.png');
}
.proj2 {
  background-image: url('images/projects/chucknorris.png');
}
.proj3 {
  background-image: url('images/projects/wbasite.png');
}
.proj4 {
  background-image: url('images/projects/hangman.png');
}
.workinprogress {
  position: absolute;
  background-image: url('images/working.jpg');
  background-position: center;
  background-size: cover;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
  height: 75vh;
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  @media (max-width: 1366px) {
    overflow: scroll;
    height: 100%;
  }
}

.proj > *:last-child {
  transform: translateY(100%);
}
.proj.open-active > *:last-child {
  transform: translateY(0);
}

.proj.open {
  flex: 5;
  font-size: 40px;
}

.webProjects > * {
  font-family: Fancy;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.portfolio {
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
  padding: 2em;
  height: 18em;
  width: 18em;
}

//BOXHEADER

.boxheader {
  display: flex;
  justify-content: center;
  color: white;
  h1 {
    text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px b#996515;
    background-color: black;
    font-family: Fancy;
    height: 10%;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 10px;
    z-index: 1;
  }
  h4 {
    text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px b#996515;
    background-color: black;
    font-family: Fancy;
    height: 10%;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 10px;
    z-index: 1;
  }
}
.boxes {
  display: flex;
  justify-content: center;
  align-self: row;
  color: black;
  flex-wrap: nowrap;
  .shield {
    justify-content: space-between;
    width: 20vw;
    height: 50vh;
    img {
      height: 50%;
      width: 50%;
    }
  }
}

.hero3 {
  display: flex;
  justify-content: center;
  position: absolute;
  background: grey;
  font-family: Fancy;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: black;
  text-shadow: -1px 0 #996515, 0 1px #996515, 1px 0 #996515, 0 -1px #996515;
}
